{% if site.development == true %}
<!-- AngularJS -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
<!-- Custom AngularJS --> 
<script type='text/javascript' src='/assets/js/ng/units.module.js'></script>
<script type='text/javascript' src='/assets/js/ng/segmented.module.js'></script>
<script type='text/javascript' src='/assets/js/ng/utility.module.js'></script>
{% else %}
<!-- AngularJS -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<!-- Custom AngularJS --> 
<script type='text/javascript' src='/assets/js/ng/units.module.min.js'></script>
<script type='text/javascript' src='/assets/js/ng/segmented.module.min.js'></script>
<script type='text/javascript' src='/assets/js/ng/utility.module.min.js'></script>
{% endif %}
