{% if site.development == true %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
{% else %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lanyon.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.min.css">
{% endif %}