{% if site.development == true %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
{% else %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lanyon.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
{% endif %}